// Colors
color-border = #ddd
color-background = #eee
color-link = #258fb8

// Fonts
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 16px
line-height = 1.8em

// Layout
article-padding = 15px
